<nav class="navbar navbar-vertical bg-dark text-light navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">

                <!-- Dashboard -->
                <li class="nav-item">
                    <div class="nav-item-wrapper">
                            <a class="nav-link label-1" href="{% url 'admin_dashboard' %}"
                            onmouseover="this.style.backgroundColor='#1e293b'"
                            onmouseout="this.style.backgroundColor='transparent'">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <!-- icon same rahega -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </span>
                                    <span class="nav-link-text text-info fw-semibold">
                                        <span class="nav-link-text">Dashboard</span>
                                    </span>
                                </div>
                            </a>
                    </div>
                </li>


                    <!--profile -->
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" href="{% url 'admin_profile' %}"     onmouseover="this.style.backgroundColor='#1e293b'"onmouseout="this.style.backgroundColor='transparent'" role="button" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M5.5 21a6.5 6.5 0 0 1 13 0" />
                                        <line x1="8" y1="9" x2="16" y2="9" />
                                        <line x1="8" y1="13" x2="16" y2="13" />
                                        <line x1="8" y1="17" x2="16" y2="17" />
                                    </svg>

                                </span>
                                <span class="nav-link-text text-info fw-semibold">
                                    <span class="nav-link-text">My Profile</span>
                                </span>
                            </div>
                            </a>
                    </div>

                    <!-- Users / Patients -->
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" href="{% url 'admin_patients' %}" 
                        onmouseover="this.style.backgroundColor='#1e293b'" 
                        onmouseout="this.style.backgroundColor='transparent'" 
                        role="button" data-bs-toggle="" aria-expanded="false">

                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <!-- User Icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </span>

                                <span class="nav-link-text text-info fw-semibold">
                                    <span class="nav-link-text">Patients</span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <!--symptom history-->
                    <div class="nav-item-wrapper">
                    <a class="nav-link label-1" href="{% url 'admin_symptom_history' %}" onmouseover="this.style.backgroundColor='#1e293b'" onmouseout="this.style.backgroundColor='transparent'" role="button" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" 
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <polyline points="12 6 12 12 16 14"></polyline>
                                </svg>
                            </span>
                            <span class="nav-link-text text-primary fw-bold">
                                <span class="nav-link-text">Symptom History</span>
                            </span>
                        </div>
                    </a>
                </div>

                    <!--illness information-->
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" href="{% url 'admin_illness_information' %}" 
                        onmouseover="this.style.backgroundColor='#1e293b'" 
                        onmouseout="this.style.backgroundColor='transparent'" 
                        role="button" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <!-- New icon for Illness Information -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="12" y1="8" x2="12" y2="12"></line>
                                        <line x1="12" y1="16" x2="12" y2="16"></line>
                                    </svg>
                                </span>
                                <span class="nav-link-text text-info fw-semibold">
                                    <span class="nav-link-text">Illness Information</span>
                                </span>
                            </div>
                        </a>

                    </div>

                           <!-- Health Analysis-->
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" href="{% url 'admin_latest_ai_analysis' %}" onmouseover="this.style.backgroundColor='#1e293b'" onmouseout="this.style.backgroundColor='transparent'" role="button" data-bs-toggle=""aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="3" width="18" height="18" rx="2"></rect>
                                    <path d="M9 9h6v6H9z"></path>
                                </svg>
                                </span>
                                <span class="nav-link-text text-info fw-semibold">
                                    <span class="nav-link-text">AI Health Analysis</span>
                                </span>
                            </div>
                        </a>
                    </div>

                    
                    <!-- Log Out-->
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" href="{% url 'sign-out' %}" onmouseover="this.style.backgroundColor='#1e293b'" onmouseout="this.style.backgroundColor='transparent'"role="button" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <circle cx="12" cy="7" r="4" />
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                                <span class="nav-link-text-info">
                                    <span class="nav-link-text text-info">Sign-Out</span>
                                </span>
                            </div>
                        </a>
                    </div>
</nav>