<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="horizontal" data-navbar-horizontal-shape="default">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} SymptoGuide AI - User {% endblock title %}</title>

    <link rel="icon" type="image/png" href="/media/Asset 10@4x.png" />
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    
    <link href="/static/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/static/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="/static/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">

    <script src="/static/vendors/simplebar/simplebar.min.js"></script>
    <script src="/static/assets/js/config.js"></script>
</head>

<body>
    <main class="main" id="top">
        
        <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
            <div class="collapse navbar-collapse justify-content-between">
                {% block header %}
                    {% include 'guidence/split/user_header.html' %}
                {% endblock header %}
            </div>
        </nav>

        {% if messages %}
        <div class="message-container position-fixed top-0 end-0 p-3" style="z-index: 9999; margin-top: 60px;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show auto-dismiss shadow-sm" role="alert">
                    <p class="mb-0 flex-1">{{ message }}</p>
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content" style="margin-left: 0 !important; padding-top: 80px;">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
    </main>

    <script src="/static/vendors/popper/popper.min.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/static/vendors/fontawesome/all.min.js"></script>
    <script src="/static/vendors/lodash/lodash.min.js"></script>
    <script src="/static/vendors/feather-icons/feather.min.js"></script>
    <script src="/static/assets/js/phoenix.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const autoHideAlerts = document.querySelectorAll('.auto-dismiss');
            autoHideAlerts.forEach(function(alert) {
                setTimeout(function() {
                    const bsAlert = new bootstrap.Alert(alert);
                    if(bsAlert) bsAlert.close();
                }, 5000);
            });
        });
    </script>
</body>
</html>